.vscode
__pycache__
/backup
/dist
/releases
/examples
!/examples/README.md
!/examples/default.inp
/img/Thumbs.db*
/src/architecture.odp
/src/architecture.png
/config/*.py
get_web_browser.py
README.pdf
*.gnu
*.out
*.ps
jobwatch.py