.idea
.vscode
__pycache__
/backup
/bin/python
/bin/cpython*
/cae.log
/ccx_linux
/ccx_windows
/config/*.py
/dist
/examples/*
!/examples/README.md
!/examples/default.frd
!/examples/default.inp
!/examples/default.unv
!/examples/default.vtu
/img/Thumbs.db*
/releases
/src/architecture.odp
/src/architecture.png
/videos
README.pdf
*.gnu
*.out
*.ps
*jobwatch.py
*forcefocus.py