.idea
.vscode
__pycache__
/backup
/dist
/releases
/img/Thumbs.db*
/examples/*
!/examples/README.md
!/examples/default.frd
!/examples/default.inp
/src/architecture.odp
/src/architecture.png
/config/*.py
/cae.log
README.pdf
*.gnu
*.out
*.ps
*jobwatch.py
*forcefocus.py
200016200902_323448.jpg
200049400302_220132.jpg